<?xml version="1.0"?>
<robot name="amr">
        
  <material name="yellow">
    <color rgba="1.0 1.0 0.0 1"/>
  </material>
  
  <link name="base_link">
  </link>

  <link name="chassis">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 1.0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="yellow"/>
    </visual>
  </link>

  <joint name="base_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="1.0 0 0" />
    <parent link="base_link" />
    <child link="chassis" />
  </joint>
  
</robot>
